
<nav class="navbar navbar-expand-lg navbar-light bg-success " >
  
    <div class="container-fluid" >
     
      <ul class="ulaclass">
         
        <li [routerLink]="['/login']">Log in</li>
   
        <!-- <li [routerLink]="['/register']">Register</li> -->
        <button class="btn btn-danger" >
          <li style="font-size:30px ;" (click)="goto()" class="fas fa-cart-plus"></li>
          </button>
          <li [routerLink]="['/contact']">Contact us</li>
          <li [routerLink]="['/login']">Logout</li>
    </ul>
  
  
  </div>
  </nav>
