<div class="maintest">

    <form #userform="ngForm" (ngSubmit)="userform.valid&&onsubmit()">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem; width: 700px; height: 500px; align-items: center;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem height=fit-content fit-contentwidth 500px; "/>
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                       <div class="d-flex align-items-center mb-3 pb-1">
                          <i class= "fa-2x me-3" style="color: #ff6219;"></i>
                       
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example17">Email</label>
                          <input type="text" class="form-control form-control-lg" placeholder="enter your email" name="email"  #email="ngModel" [(ngModel)]="data.email" required/>
                         <label class="text-danger" *ngIf="userform.submitted&&email.errors?.['required']"> Email is required</label>

                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example27">Password</label>
                          <input type="password"  class="form-control form-control-lg" placeholder="enter your password" name="password" #password="ngModel" [(ngModel)]="data.password" required/>
                         <label class="text-danger" *ngIf="userform.submitted&&password.errors?.['required']">Password is required</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-lg btn-block type=submit">Login</button>
                        </div>
      
                      
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                     <button class="btn btn-light "name="btn" (click)="gotoregister()" style="border-color: aliceblue;">Register</button></p>
                     
                   
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</form>
   
</div>
